{% extends 'auction/show.html.twig' %}
{% block title %}
    Auction - Add
{% endblock %}
{% block elements %}
<div class="add-container">
    <div class="add">
        <div class="add-header">
            <h1> <i class="fa-solid fa-circle-plus"></i> Create an Auction <span> .. but don't be Greedy</span></h1>
        </div>
        <div class="auction-form">
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
            <div class="horizontal-form">
                <div class="lines">
                    <div class="line1">
                        <div class="form-group">
                            <h3><i class="fa-solid fa-bookmark"></i> Label : </h3>
                            {{ form_widget(form.label) }}
                        </div>

                        <div class="form-group">
                            <h3><i class="fa-solid fa-calendar-days"></i>Start Date : </h3>
                            {{ form_widget(form.startDate) }}
                        </div>

                        <div class="form-group">
                            <h3><i class="fa-solid fa-calendar-days"></i>End Date : </h3>
                            {{ form_widget(form.endDate) }}
                        </div>

                        <div class="form-group">
                            <h3><i class="fa-solid fa-sack-dollar"></i>Starting Price : </h3>
                            {{ form_widget(form.startPrice) }}
                        </div>
                    </div>
                    <div class="line2">
                        <div class="artworks-form-group">
                        {{ if form.artwork is not empty }}
                            {% for choice in form.artwork %}
                                <label class="artwork-option">
                                    {{ form_widget(choice) }}
                                    <img src="{{ asset('uploads/pictures/' ~ choice.vars.attr['data-image']) }}" alt="Artwork" class="artwork-thumbnail">
                                </label>
                            {% endfor %}
                        {{ else }}
                                <h3><i class="fa-solid fa-image"></i> You should add artworks before you select them</h3>
                        {{ endif }}
                        </div>
                    </div>
                </div>
                <button type="submit" class="submit-button"><i class="fa-solid fa-circle-check"></i> Done</button>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
