{% extends 'user/edit.html.twig' %}


{% block editpage %}
       <div class="edit-Title">
            <h1>Password</h1>
            <p>Highly Confidential  </p>
        </div>

        <div class="edit-action-div-password">
            <div class="edit-column-title">
                <div>
                    <h2>Chnage Your Password</h2>
                    <p>You can change your password in here  </p>
                </div>
            </div>

            <div class="edit-column-input">
                  {{ form_start(form, {'attr': {'class': 'edit-form-componment-password','novalidate': 'novalidate'} }) }}
                    <div>
                        {{ form_widget(form.currentpassword) }}
                        {{ form_errors(form.currentpassword) }}
                    </div>
                    <div>
                        {{ form_widget(form.newpassword) }}
                        {{ form_errors(form.newpassword) }}
                    </div>
                    <div>
                        {{ form_widget(form.confirmpassword) }}
                        {{ form_errors(form.confirmpassword) }}
                    <div>

                        {{ form_widget(form.save) }}
                    {{ form_end(form) }}
            </div>
        </div>


{% endblock %}